<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thermostat Schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<h1 class="text-center">Schedule</h1>
 <form class="p-3 text-center" action="#" method="post">
        <textarea name="schedule" rows="20" cols="30">{{ schedule }}</textarea>
        <br>
        <input class="btn btn-primary mt-3" type="submit" >
    </form>
</body>
</html>